.main{
    height: 300px;
    width: 300px;
/*    border: 1px solid red;*/
    text-align: center;
    margin: auto;
}

.table{
    text-align: center;
    height: 350px;
    width: 350px;
    border-top: 2px solid black;

}

.Mark{
    border-radius:50px 50px 50px 50px ;
    color: aqua;
    background-color: black;
}

th{
    background-color: #008000;
}