.main{
	width: 1000px;
	height: 800px;
/*	border: 1px solid black;*/
	margin: auto;
	margin-top:100px;
	background-color: whitesmoke;
	
}

.outer{
	width: 998px;
	height: 700px;
/*	border: 1px solid black;*/
	display: flex;
	flex-wrap:wrap ;
	padding-left:10px ;
	padding-top: 5px;
}

.box{
	width: 300px;
	height: 300px;
/*	border: 1px solid black;*/
	text-align: center;
	background-color: white;
/*	padding: 10px 10px ;*/
	margin: 10px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 15px 0px gray;
}

h3{
	text-align: center;
}

p{
	text-align: center;
}



h2{
	text-align: center;
}